<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Starter Guide</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </head>
  <body> 
  	<%- include navbar %>
	<header class="masthead text-white text-center">
    <div class="container">      
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-xs-12">
            <div class="contents">
              <br>
              <br>
              <h2 class="head-title">Find the project that fits your support</h2>
              <p>Aliquam vestibulum cursus felis. In iaculis iaculis sapien ac condimentum. Vestibulum congue posuere lacus, <br> id tincidunt nisi porta sit amet. Suspendisse et sapien varius, pellentesque dui non.</p>
              <form>
              	<div class="row">
                    <div class="col-lg-11 col-md-6 col-xs-12">
                      <select class="select1">
                        <% if(data != null) {
                            for(var i=0; i<data.length; i++) { %>
                              <option><%= data[i].categoryName%></option>
                        <% } 
                          } else {%>
                              <option>--</option>
                        <%} %>
                      </select>
		      		</div>
		      		<div class="col-lg-1 col-md-6 col-xs-12">
		      	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		      	    </div>
		        </div>
		      </form>
		      <br>
              <br>
          </div>
        </div> 
      </div>
  </header>
  </body>
</html>



<!-- test comment -->