<style>
  .modal {
    height: 80%;
    padding-top:5%;
  }
  input.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modalSign">Sign up</button>
          &nbsp;&nbsp;
          <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modalLog">Log in</button>
        </form>
      </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalSign" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="signUp_form" action="navbar" role="form" method="post" onsubmit="return validdation()">
            <div>
                <input class="input-material" type="email" name="email" id="email_signUp" placeholder="Email" required
                data-msg="Please enter your email">
                <input hidden name = "act" value="signup"/>
              </div>
            <br>
          <div>
            <input class="input-material" type="text" name="username" id="username_signUp" placeholder="Username" required
            data-msg="Please enter your username">
          </div>
          <br>
          <div>
              <input class="input-material" type="password" name="pw" id="pw_signUp" placeholder="Password" required
              data-msg="Please enter your password">
            </div>
          <br>
          <div>
              <input class="input-material" pattern="[0-9]{8,15}" name="phoneNumber" id="phoneNumber_signUp" placeholder="Phone number" required
              data-msg="Please enter your phone number" data-error-msg="Please enter valid phone number.">
          </div> 
          <br>
          <div>              
                  <select class="select1" name="location" id="location_signUp">
                  <option value="0">Select Location</option>
                    <% if(countries != null) {
                        for(var i=0; i < countries.length; i++) { %>
                          <option value='<%= countries[i].countrycode%>'><%= countries[i].countryname%></option>
                    <% } 
                      } else {%>
                          <option>--</option>
                    <%} %>
                  </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Sign up</button>
        <button type="button" class="btn btn-secondary" onclick="clearData(false)">Reset</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login_form" action="navbar" role="form" method="post">
          <div>
            <input class="input-material" type="text" name="usernameEmail" id="usernameEmail_login" 
            placeholder="Username/Email" required
            data-msg="Please enter your username or email">
            <input hidden name = "act" value="login"/>
          </div>
        <br> 
          <div>
            <input class="input-material" type="password" name="pw" id="pw_login" placeholder="Password" required
            data-msg="Please enter your password">
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Log in</button>
        <button type="button" class="btn btn-secondary" onclick="clearData(true)" >Reset</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>

<script>
    //initiat all controller
        var usernameEmail_login = document.getElementById("usernameEmail_login");
        var pw_login = document.getElementById("pw_login");
    
        var username_signUp = document.getElementById("username_signUp");
        var pw_signUp = document.getElementById("pw_signUp");
        var email_signUp = document.getElementById("email_signUp");
        var phoneNumber_signUp = document.getElementById("phoneNumber_signUp");
        var location_signUp = document.getElementById("location_signUp");

        function clearData(isLogin) {
          if(isLogin){
              usernameEmail_login.value = "";
              pw_login.value = "";
          } else {
              username_signUp.value = "";
              pw_signUp.value = "";
              phoneNumber_signUp.value = "";
              email_signUp.value = "";
              location_signUp.selectedIndex = 0;
          }
        }

        function validdation(){

          if(email_signUp.value.length > 100){
            alert("The valid length of email is at most 100.");
            return false;
          }

          if(username_signUp.value.length < 6 || username_signUp.value.length > 50){
            alert("The valid length of username is 6 to 50.");
            return false;
          }

          if(pw_signUp.value.length < 6 || pw_signUp.value.length > 20){
            alert("The valid length of password is 6 to 20.");
            return false;
          }

          if(location_signUp.selectedIndex == 0) {
            //location_signUp.setAttribute("data-error-msg", "Please select your location.");
            alert("Please select your location.");
            return false;
          }
        }
    </script>