<style>
  .modal {
    height: 80%;
    padding-top:5%;
  }

  input.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-primary my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modalSign">Sign up</button>
          &nbsp;&nbsp;
          <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#modalLog">Log in</button>
        </form>
      </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modalSign" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signUpModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div form>
          <input class="input-material" type="text" name="username" placeholder="Username" required
          data-msg="Please enter your username">
        </div>
        <br>
        <div form>
            <input class="input-material" type="text" name="password" placeholder="Password" required
            data-msg="Please enter your password">
          </div>
        <br>
        <div form>
            <input class="input-material" type="text" name="email" placeholder="Email" required
            data-msg="Please enter your email">
          </div>
        <br>
        <div form>
            <input class="input-material" type="text" name="phoneNumber" placeholder="Phone number" required
            data-msg="Please enter your phone number">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sign up</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login_form" action="navbar" role="form" method="post">
          <div>
            <input class="input-material" type="text" name="usernameEmail" placeholder="Username/Email" required
            data-msg="Please enter your username or email">
          </div>
        <br> 
          <div>
            <input class="input-material" type="password" name="pw" placeholder="Password" required
            data-msg="Please enter your password">
          </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Log in</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>